body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 80px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease;
    max-width: 350px;
    margin: 20px auto;
}

.about {
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.image img {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.product-description {
    max-width: 500px;
    margin: 0 20px;
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
}

.preview-button {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
}

.preview-button a {
    color: white;
    text-decoration: none;
}

.social-media {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
}

.social-media img {
    max-width: 20px;
    height: auto;
}

.icons-hover:hover img {
    opacity: 0.5;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        border: none;
    }

    .card {
        max-width: 90%;
        margin: 10px auto;
    }

    .product-description {
        max-width: 100%;
        margin: 10px 20px;
        font-size: 15px;
    }

    .about {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .about {
        font-size: 40px;
    }

    main {
        flex-direction: column;
        margin: 0 auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
        border: none;
    }

    .card {
        max-width: 95%;
        margin: 10px auto;
    }

    .product-description {
        max-width: 100%;
        margin: 0 10px;
        padding: 15px;
        font-size: 15px;
    }

    .social-media {
        position: relative;
        bottom: 0;
    }

    .image img {
        height: auto; /* Ajusta altura da imagem para telas pequenas */
    }

    .preview-button {
        margin-top: 10px;
    }
}
