@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

html, body {
    background-color: white;
    color: black;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.icon {
    flex-grow: 1;
    text-align: left;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu, .view-products, .subscribe, .bundles, .more {
    display: flex;
    gap: 25px;
    align-items: center;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.menu-item {
    margin: 15px 0;
}

.side-menu.open {
    left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(255, 255, 93);
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.title-products {
    font-weight: 100;
    font-size: 60px;
    margin: 30px 0;
    text-align: center;
    animation: slideInFromLeft 1s forwards;
}

main {
    display: flex; /* Usando flex para centralizar os cards */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: center; /* Centraliza os cards */
    padding: 20px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease; 
    max-width: 350px;
    margin: 10px; 
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
    padding: 0;
}

.card:hover {
    transform: translateY(-5px); 
    transition: transform 0.2s ease; 
}

/* CONTROLE DO TAMANHO DA IMAGEM ABAIXO!!!!! */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; /* Controle o padding entre a imagem e o card */
    width: 100%; /* Largura do contêiner da imagem */
}

.image img {
    min-width: 500px;
    max-width: auto;
    height: 250px; /* A imagem irá ajustar sua altura conforme a largura */
    object-fit: contain; /* Mantém a proporção da imagem e a centraliza */
    border-radius: 5px; /* Bordas arredondadas na imagem */
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 2px 5px;
    padding-left: 15px;
    border-bottom: 0.5px solid #ddd;
}

.name-product {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
}

.purchase-product {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.button-purchase {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
}

.button-purchase a {
    color: white;
}

.button-purchase a:hover {
    color: rgb(255, 255, 93);
}

.social-media {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

.social-media img {
    max-width: 20px;
    height: auto;
}

.icons-hover:hover img {
    opacity: 0.5; 
}

.latest-release {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-release .text-latest {
    padding-bottom: 5px;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1024px) {
    main {
        flex-direction: column; /* Em telas menores, empilha os cards */
        align-items: center; /* Centraliza os cards */
        padding: 20px;
        max-width: 500px; /* Limita a largura máxima */
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .menu {
        display: none;
    }
    main {
        flex-direction: column; /* Empilha os cards */
        margin: 0 auto;
    }
    .card {
        max-width: 300px; /* Limita a largura do card */
        margin: 10px auto; /* Centraliza o card */
    }
}

@media (max-width: 480px) {
    .title-products {
        font-size: 50px;
        margin: 15px 0;
        text-align: center;
    }
    main {
        flex-direction: column; /* Empilha os cards */
        margin: 0 20px;
    }
    .card {
        max-width: 100%; /* Largura máxima do card */
        margin: 10px auto; /* Centraliza o card */
    }
}
