@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px; 
    height: 40px; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.icon {
    flex-grow: 1;
    text-align: left;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu, .view-products, .subscribe, .bundles, .more {
    display: flex;
    gap: 25px;
    align-items: center;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.menu-item {
    margin: 15px 0;
}

.side-menu.open {
    left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(255, 255, 93);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.welcome h1 {
    font-weight: 100;
    font-size: 80px;
    margin: 0;
}

.welcome, .latest-release {
    text-align: center;
    margin: 10px 0;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
}

.latest-release {
    margin: 20px 0;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease; 
    width: 350px;
    height: auto;
    margin: 10px; 
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
    padding: 0;
}   

.card:hover {
    transform: translateY(-5px);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 200px; /* Ajuste para que a imagem ocupe a mesma altura */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 2px 5px;
    padding-left: 15px;
    border-bottom: 0.5px solid #ddd;
}

.name-product {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
}

.purchase-product {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.button-purchase {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
}

.button-purchase a {
    color: white;
}

.button-purchase a:hover {
    color: rgb(255, 255, 93);
}

.icon img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.social-media {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
}

.social-media img {
    max-width: 20px;
    height: auto;
}

.icons-hover:hover img {
    opacity: 0.5; 
}

.latest-release {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.latest-release .text-latest {
    padding-bottom: 10px; 
    font-weight: bold; 
}

@media (max-width: 1024px){
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    main {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .menu {
        display: none;
    }
    main {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .card {
        max-width: 250px;
        margin: 10px auto;
    }
    .welcome h1 {
        font-size: 60px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .social-media {
        position: fixed;
    }
}

@media (max-width: 480px) {
    .welcome h1 {
        font-size: 60px;
    }
    main {
        flex-direction: column;
        margin: 0 20px;
    }
    .card {
        max-width: 250px;
        margin: 10px auto;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .social-media {
        position: fixed;
    }
}
